<p id="notice"><%= notice %></p>

<h1>Listing Userauths</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userauths.each do |userauth| %>
      <tr>
        <td><%= link_to 'Show', userauth %></td>
        <td><%= link_to 'Edit', edit_userauth_path(userauth) %></td>
        <td><%= link_to 'Destroy', userauth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userauth', new_userauth_path %>
